body{
    background-color:rgb(211, 102, 211);
    margin-top: 4%;
}
h1{
color: rgb(114, 114, 223);
text-shadow: 1px 2px red;

}
/* .one{
    align-content: center;
    color: brown;
    background-color: teal;
}
.three{
    background-color: burlywood;
    margin: 15%;
    padding: 8% 3% 6% 10%;
} */
#two{
    background-color: rgb(90, 211, 211);
}
/* #one{
    background-color: yellow;
} */
.container{
    background-color: chocolate;
}
#btn{
    background-color:black;
}